* {
  box-sizing: border-box;
}

.content-header > .breadcrumb {
  position: relative;
  margin-top: 15px;
  top: 0;
  right: 0;
  float: none;
  background  : #e9ecf1;
  padding-left: 10px;
  border : solid 1px grey;
  border-radius: 7px;
}
